extends ../_partial/_layout
include ./_post.meta.pug

block content
    //- blockquote [author[, source]] [link] [source_link_title]
    article.post-content
        h2.post-title= page.title

        +postMeta(page.date, page.updated, page.tags, page.categories)

        .post-content!= page.content
        //- - console.log(page.updated)
        //- TODO
        //- share
        //- .share

    block toc

    include ../_partial/_pagination.pug
    .post-pagination
        +post()

    footer.post-foot
        if theme.disqus.disqus_shortname
            .post-comment
                include ../_partial/_comments.pug