include ./_post.meta.pug

if page.posts.length
    - page.posts.each(function (post) {
    article.post-preview
        h2.post-title
            a(href=url_for(post.path))!= post.title

        +postMeta(post.date, post.updated, post.tags, post.categories)
        if post.excerpt
            .post-excerpt!= post.excerpt
            //- 判断.md是否有<!--more-->
            span.post-read-more
                a(href=url_for(post.path))
                    != theme.post.excerpt_link
                    i.fa.fa-angle-double-right
        else
            .post-excerpt!= post.content
    - })