extends ./_partial/_layout

block content
    //- 文章列表页（首页）
    .article-container
        include ./_post/_post.item.pug

        include ./_partial/_pagination.pug
        +home()
    include ./_partial/_sidebar.pug