extends ./_partial/_layout

block content
    if page.title === 'categories'  
        include ./_post/_category.pug
    
    if page.title === 'tags'
        .tagCloud
            != tagcloud(site.tags, {min_font: 14,max_font: 32,unit: px, order: -1})

    else
        != page.content
        