.tag-cloud
    if theme.sidebar.tagCloud.enable
        h2
            i.fa.fa-cloud
            | Tags Cloud
        script(type='text/javascript', charset='utf-8', src=url_for('/libs/tagcloud.js'))
        script(type='text/javascript', charset='utf-8', src=url_for('/libs/tagcanvas.min.js'))
        #tagCloudCanvas.widget.tagcloud(align='center')
            if theme.sidebar.tagCloud.bgEnable
                canvas#resCanvas(width='250', height='250', style='background:' + theme.sidebar.tagCloud.bg + '; border-radius: 20px;')
                    !=tagcloud()
            else
                canvas#resCanvas(width='250', height='250')
                    !=tagcloud()