.archives
    h2.archive-title 
        i.fa.fa-map-signs
        |Archives
    - var menu = config.menu || theme.menu
    - var uri
    each url, label in menu
         if /archiv/i.test(label)
            - uri = url
    - var data = ''
    -site.posts.sort('date', -1).each(function(archive) {
        - var ym = date(archive.date, 'YYYYMM')
        - data += ','+ym
    - })
    span.archives-data(data!= data, data-uri=url_for(uri))
    //- .archives-list
    //-     - var year, month, n=0
    //-     - var num=0
    //-     - var len = site.posts.length
    //-     - var menu = config.menu || theme.menu
    //-     - var uri
    //-     each url, label in menu
    //-          if /archiv/i.test(label)
    //-             - uri = url
    //-     - site.posts.sort('date', -1).each(function(archive) {
    //-         //- - console.log(archive)
    //-             //- != archive.title
    //-         - var y = date(archive.date, 'YYYY')
    //-         - var m = date(archive.date, 'MM')
    //-         if year != y
    //-             h2(style='background:#eee')!= y
    //-         if y != null
    //-         - year = y
    //-         if month != m
    //-             if month != null
    //-                 a(href=url_for(uri+'#'+y+m), style='display:block')
    //-                     span.month!= m
    //-                     span(style='color:red; padding-left: 20px;')!= num
    //-                 - num = 0
    //-         - n++
    //-         - num++
    //-         - month = m
    //-         if len == n
    //-             h1!= len
    //-             h2!= n
    //-             h3!= date(archive.date, 'YYYY-MM-DD')
    //-             h4!= archive.title
    //-             a(href=url_for(uri+'#'+y+m), style='display:block')
    //-                 span.month!= m
    //-                 span(style='color:green')!= num  
    //-     - })