.archive-time-line {
    .time-line {
        padding-top: 80px;
        [class^='line-'] {
            position: relative;
            left: 50%;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            a {
                margin-left: 40px;
                padding: 5px 10px;
                border-left: none;
                border-radius: 8px;
                &:before {
                    display: none;
                }
                &:after {
                    position: absolute;
                    left: -8px;
                    top: 50%;
                    margin-top: -8px;
                }
            }
            .day {
                position: absolute;
                top: 12px;
                left: -1px;
                @include square(24px);
                @include text-center(22px);
                border-radius: 50%;
                box-sizing: border-box;
                font-size: .75rem;
                user-select: none;
            }
        }
        [class^='date-'] {
            position: relative;
            left: 50%;
            @include square(50px);
            @include text-center(50px);
            .year {
                position: absolute;
                left: -24px;
                top: 0;
                margin: 0;
                @include square(50px);
                @include text-center(47px);
                border-radius: 50%;
                font-size: 1.1rem;
                animation: rotate 10s linear infinite;
                cursor: pointer;
                user-select: none;
            }
            .month {
                position: absolute;
                left: -2px;
                top: 10px;
                @include square(30px);
                @include text-center(24px);
                margin: 0 0 0 -15px;
                border-radius: 50%;
                font-size: .75rem;
                user-select: none;
                &:before {
                    display: none;
                }
            }
            .num {
                display: inline-block;
                @include square(20px);
                @include text-center(20px);
                font-size: .75rem;
                border-radius: 50%;
                margin-left: -98px;
                vertical-align: 10px;
                user-select: none;
            }
        }
    }
    .line-end {
        width: 300px;
        padding: 10px 0;
        position: absolute;
        left: 50%;
        margin: 24px 0 0 -150px;
        text-align: center;
        @include radius(15px);
        font-family: $font-roboto-family;
        font-weight: bold;
    }
    .line-start {
        position: absolute;
        left: 50%;
        margin-left: -7px;
        transform: rotate(45deg);
        @include square(16px);
        @include border-left-radius(50%, true);
        border-top-right-radius: 50%;
        animation: heart 3s ease infinite;
        &:before,
        &:after {
            position: absolute;
            @include content;
            @include square(16px);
        }
        &:before{
            left: -8px;
            top: 0;
            @include border-left-radius(50%, true);
            border-top-right-radius: 50%;
        }
        &:after {
            top: -8px;
            @include border-top-radius(50%, true);
            border-bottom-left-radius: 50%;
        }
    }

    @include repond('xs', 'max') {
        .time-line {
            [class^='line-'] {
                 @include single-text(85%);
            }
        }
    }
    @include repond('sm', 'max') {
        .time-line {
            [class^='line-'] {
                left: 50px;
            }
            [class^='date-'] {
                 left: 50px;
            }
        }
        .line-start {
            left: 50px;
        }
    }
    @include repond('xs', 'sm') {
        .line-start {
            margin-left: 9px;
        }
    }
}