.post-category {
    .title {
        margin-bottom: 5px;
        color: map-deep-get($categoryColor, title, c);
        text-shadow: map-deep-get($categoryColor, title, ts);
        .num {
            font-size: 1rem;
            margin-left: 10px;
            font-family: $font-shrikhand-family;
            color: map-deep-get($categoryColor, num, c);
        }
    }
    .category {
        padding: 0;
        margin-top: 0;
        li {
            padding: 0 0 5px 0;
            .date {
                @extend %post-date;
            }
            a {
                 @extend %post-title-link;
            }
        }
    }
    hr {
        display: block;
        margin: .5rem auto;
        border-width: 1px;
        border-color: map-deep-get($categoryColor, hr, bc);
    }
}

@include repond('sm', 'max') {
    .post-category {
        padding: 0 16px;
        .category {
            i {
                vertical-align: -3px;
            }
            a {
                @include single-text(300px);
                vertical-align: -9px;
            }
        }
    }
}