.post-category {
    .title {
        margin-bottom: 5px;
        color: #fea;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5),
            1px 0 1px rgba(50, 160, 180, .6),
            1px -1px 1px rgba(150, 100, 240, .7),
            0 1px 1px rgba(0, 0, 0, .8);
        .num {
            font-size: 1rem;
            margin-left: 10px;
            font-family: $font-shrikhand-family;
            color: #f9a;
        }
    }
    .category {
        padding: 0;
        margin-top: 0;
        li {
            padding: 0 0 5px 0;
            .date {
                @extend %post-date;
            }
            a {
                 @extend %post-title-link;
            }
        }
    }
    hr {
        display: block;
        margin: .5rem auto;
        border-width: 1px;
        border-color: rgba(0, 160, 180, .3);
    }
}

@include repond('sm', 'max') {
    .post-category {
        padding: 0 16px;
        .category {
            i {
                vertical-align: -3px;
            }
            a {
                @include single-text(300px);
                vertical-align: -9px;
            }
        }
    }
}