$code-black: (
    title: rgba(255, 255, 0, .8),
    bg: rgba(0, 0, 0, .9),
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5),
    line-bg: rgba(30, 30, 30, .3),
    line-color: rgba(240, 240, 240, .8),
    line-box-shadow: inset 0 0 5px rgba(235, 235, 235, .8),
    line-text-shadow: 0 0 1px rgba(255, 255, 20, .3)
);

$code-white: (
    title: rgba(255, 255, 255, .8),
    bg: rgba(255, 255, 240, .8),
    box-shadow: inset 0 0 5px rgba(200, 100, 0, .5),
    line-bg: rgba(200, 100, 0, .5),
    line-color: #efe,
    line-box-shadow: inset 0 0 5px rgba(0, 0, 0, .5),
    line-text-shadow: 0 0 1px rgba(0, 25, 25, .5)
);

@mixin code-theme ($theme) {
    @each $themeKey, $themeVal in $theme {
        @if $themeKey == 'title' {
            &:before {
                color: $themeVal !important;
            }
        }
        @if $themeKey == 'bg' {
            background: $themeVal;
            table {
                tr {
                    background: $themeVal !important;
                }
            }
        }
        @if $themeKey == 'box-shadow' {
            box-shadow: $themeVal;
        }
        .gutter {
            @if $themeKey == 'line-bg' {
                background: $themeVal;
            }
            @if $themeKey == 'line-box-shadow' {
                box-shadow: $themeVal;
            }
            .line {
                @if $themeKey == 'line-color' {
                    color: $themeVal;
                }
                @if $themeKey == 'line-text-shadow' {
                    text-shadow: $themeVal;
                }
            }
        }
    }
}

figure .theme {
    position: absolute;
    top: 0;
    // right: -14px;
    right: 0;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 25px;
    // @include border-bottom-radius(20px);
    border-bottom-left-radius: 50px;
    cursor: pointer;
    background: rgba(255, 25, 25, .5);
    box-shadow: 0 2px 5px rgba(255, 25, 25, .5),
        1px 0 5px rgba(255, 25, 25, .5),
        -1px 0 5px rgba(255, 25, 25, .5);
    font-family: $font-pacifico-family;
    user-select: none;
    @include tablet {
        &:hover {
            color: rgba(0, 120, 30, .8);
            background: rgba(255, 100, 50, .5);
            box-shadow: 0 2px 5px rgba(255, 125, 25, .5),
                1px 0 5px rgba(255, 125, 25, .5),
                -1px 0 5px rgba(255, 125, 25, .5);
        }
    }
}

figure.black {
    @include code-theme($code-black);
    .theme {
        color: #fff;
        @include tablet {
            &:hover {
                color: rgba(250, 180, 130, .8);
                background: rgba(255, 180, 50, .5);
                box-shadow: 0 2px 5px rgba(255, 125, 25, .5),
                    1px 0 5px rgba(255, 125, 25, .5),
                    -1px 0 5px rgba(255, 125, 25, .5);
            }
        }
    }
}

figure {
    @include code-theme($code-white);
    position: relative;
    // background: hsla(48, 98%, 47%, .3);
    // border-radius: 10px;
    @include radius(10px);
    // box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    overflow: auto;
    white-space: pre;
    padding-top: 28px;
    margin: 10px 0;
    table, th, td {
        border: none;
    }
    > table {
        margin: 0;
        th, td, tr {
            padding: 0;
            text-align: left;
            border-collapse: separate;
            box-shadow: none;
            border-radius: 0;
        }
    }
    .gutter {
        width: 16px;
        // background: rgba(0, 0, 0, .3);
        // border-radius: 5px;
        @include radius(5px);
        user-select: none;
        // box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
        .line {
            height: 24px;
            text-align: right;
            line-height: 24px;
            font-size: $line-font-size;
            // color: $line-font-color;
            font-weight: bold;
            // text-shadow: 0 0 2px rgba(255, 255, 255, .8);
        }
        pre {
            margin: 0;
            float: right;
            padding: 0 3px 0 5px;
        }
    }
    .code {
        pre {
            padding: 0 5px;
            font-family: $code-font-family !important;
            font-size: 1rem;
            .line {
                height: 24px;
                line-height: 24px;
                color: $code-default-color;
                // text-shadow: 0 0 1px rgba(240, 240, 240, .5);
            }
        }
    }
}
figure:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 28px;
    padding: 0 30px 0 10px;
    font-family: $font-shrikhand-family;
    font-size: 0.75rem;
    color: rgba(0, 48, 73, .8);
    border-bottom-right-radius: 50px;
    // border-top-left-radius: 15px;
    @include radius(15px);
    text-indent: 15px;
    line-height: 28px;
    background: rgba(255, 25, 25, .5);
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

@each $codeColorName, $codeColorVal in $codeColors {
    figure {
        .#{$codeColorName} {
            color: $codeColorVal;
            @each $bold in $codeBold {
                @if $bold == $codeColorName {
                    font-weight: bold;
                }
            }
            @each $italic in $codeItalic {
                @if $italic == $codeColorName {
                    font-style: italic;
                }
            }
            @each $familyName, $familyVal in $codeFamily {
                @if $familyName == $codeColorName {
                    font-family: $familyVal;
                }
            }
        }
    }
}

@each $tagName, $tagVal in $codeTags {
    figure.#{$tagName}:before {
        content: '#{$tagVal}';
    }
}