.post-foot {
    .post-comment {
        padding: 10px 20px;
        @include radius(15px);
        #disqus-loader-error {
            display: none;
            .disqus-loader-bg {
                position: relative;
                display: inline-block;
                height: 52px;
                width: 54px;
                margin: 0px auto;
                overflow: hidden;
                box-shadow: inset 0 0 15px rgba(100, 150, 150, .5);
                border-radius: 50%;
                .disqus-loader-animat {
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    top: 13px;
                    left: 15px;
                    animation: rotate .7s infinite linear !important;
                    border-width: 3px;
                    border-style: solid;
                    border-color: rgba(51, 54, 58, 0.4) transparent; border-radius: 13px;
                    transform-origin: 50% 50% 0px;
                }
            }
        }
    }
}

#disqus_thread {
    padding-bottom: 20px;
}