.pagination {
    @extend %clear-fix;
    text-align: center;
    margin: 20px;
    a:before {
        visibility: hidden;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        border-radius: 50%;
        margin: 5px;

        @include repond('sm', 'min') {
            &.link:hover {
                a {
                    color: #fff;
                    background: #fa0;
                    transition: all 800ms;
                }
            }
        }
        a {
            @include square(30px);
            @include text-center(30px);
            display: block;
            color: rgb(255, 0, 110);
            border-radius: 50%;
        }
        &.current {
            background: #a0a0a0;
            a {
                color: #fff;
            }
        }
    }
    i[class*='fa-angle-double-'] {
        vertical-align: -3px;
    }
    i[class*='fa-chevron-circle'] {
        vertical-align: -4px;
    }
    i.fa {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .prev-post,
    .next-post {
        margin: 0 50px;
        border: solid 1px rgba(0, 0, 0, .5);
        padding: 5px 10px;
        border-radius: 0;
        border-radius: 5px;
        transition: all 500ms ease 0s;
        @include single-text(160px);
        @include repond('sm', 'max') {
            margin: 0;
        }
        @include repond('sm', 'min') {
            @include single-text(400px);
            &:hover {
                border-radius: 10px;
                background: #004a8f;
                color: rgba(255, 255, 255, .8);
            }
        }
    }
    .prev-post {
        float: left;
        i {
            margin-right: 5px;
        }
    }
    .next-post {
        float: right;
        i {
            margin-left: 5px;
        }
    }
    .total {
        height: 40px;
        line-height: 40px;
        float: right;
        margin-right: 20px;
        color: #fd1;
        font-family: $font-roboto-family;
        font-weight: bold;
        text-shadow: 0 0 1px #000,
            1px 0 1px rgba(0, 0, 0, .5),
            0px 1px 1px rgba(0, 0, 0, .3);
    }
}