.pagination {
    @extend %clear-fix;
    text-align: center;
    margin: 20px;
    a:before {
        visibility: hidden;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        @include radius(50%, true);
        margin: 5px;

        @include tablet {
            &.link:hover {
                a {
                    transition: all 800ms;
                }
            }
        }
        a {
            @include square(30px);
            @include text-center(30px);
            display: block;
            @include radius(50%, true);
        }
    }
    i[class*='fa-angle-double-'] {
        vertical-align: -3px;
    }
    i[class*='fa-chevron-circle'] {
        vertical-align: -4px;
    }
    i.fa {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .prev-post,
    .next-post {
        position: relative;
        margin: 0 50px;
        padding: 8px 10px;
        border-radius: 0;
        @include radius(5px);
        transition: all 500ms ease 0s;
        @include single-text(160px);
        @include repond('sm', 'max') {
            margin: 0;
        }
        @include tablet {
            @include single-text(300px);
            &:hover {
                @include radius(10px, true);
            }
        }
        i {
            position: absolute;
            top: 4px;
        }
    }
    .prev-post {
        float: left;
        margin-right: 0;
        padding-left: 40px;
        i {
            left: 10px;
        }
    }
    .next-post {
        float: right;
        margin-left: 0;
        padding-right: 40px;
        i {
            right: 10px;
        }
    }
    .total {
        height: 40px;
        line-height: 40px;
        float: right;
        margin-right: 20px;
        font-family: $font-roboto-family;
        font-weight: bold;
    }
}