.post-content {
    margin: 0 auto;
    width: 100%;
    .post-title {
        text-align: center;
    }
    .post-meta {
        text-align: center;
    }
    @extend %title-style;
}
.post-pagination .pagination {
    @include radius(15px);
    padding: 10px;
    width: 96%;
    margin: 10px auto 15px;
}

@include repond('md', 'max') {
    .post-content {
        width: 98%;
    }
}

@include repond('xs', 'max') {
    .post-conent {
        padding: 16px;
    }
}