@mixin readMore($width, $height, $scale) {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    transform: $scale;
    transition: transform 0.3s;
}
.article-container {
    position: relative;
    width: 75%;
    article {
        margin: 10px 0;
        @extend %post-layout;
        @extend %title-style;
    }
    transition: all 300ms ease 0s;
    .post-preview {
        .post-excerpt {
            margin-bottom: 10px;
        }
        .post-read-more {
            display: inline-block;
            height: 30px;
            position: relative;
            &:before {
                @include readMore(3px, 100%, scaleY(0));
                transform-origin: bottom left;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
            &:after {
                @include readMore(3px, 100%, scaleY(0));
                transform-origin: top right;
                bottom: 0;
                right: 0;
            }
            a {
                font-family: $font-shrikhand-family;
                text-decoration: none;
                display: inline-block;
                height: 100%;
                padding: 0 12px;
                @include text-center(30px);
                @include radius(8px);
                &:before {
                    @include readMore(100%, 3px, scaleX(0));
                    transform-origin: top left;
                    top: 0;
                    left: 0;
                }
                &:after {
                    @include readMore(100%, 3px, scaleX(0));
                    transform-origin: bottom right;
                    bottom: 0;
                    right: 0;

                }
                i.fa {
                    margin-left: 8px;
                    font-size: 1.5rem;
                    vertical-align: -2px;
                    font-weight: bold;
                }
            }

            &:hover {
                &:before, 
                &:after {
                    transform: scaleY(1);
                }

                a {
                    &:before,
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.article-container,
.post-content {
    .post-title, .post-meta {
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    .post-title {
        font-size: 1.8rem;
        font-family: $font-shrikhand-family;
    }
    .post-meta {
        .author {
            font-family: $font-pacifico-family;
        }
        .category {
            font-family: $font-shrikhand-family;
        }
        .fa {
            margin: 0 5px 0 8px;
        }
        .date {
            font-family: $font-handlee-family;
        }
    }
}
.tags-list {
    .updated .fa{
        margin: 0 8px;
    }
}
.post-category {
    li .fa:before {
        margin-right: 5px;
    }
}
