.post-content {
    margin: 0 auto;
    width: 80%;
    .post-title {
        text-align: center;
    }
    .post-meta {
        text-align: center;
    }
}
.post-pagination .pagination {
    border-top: solid 2px #aaa;
    padding: 10px;
    width: 80%;
    margin: 10px auto 0;
}

.post-foot {
    height: 600px;
}

@include repond('xs', 'max') {
    .post-content {
        width: 90%;
    }
}
// @include repond('md', 'min') {
//     .post-content {
//         width: 75%;
//     }
//     .post-pagination .pagination {
//         border-top: solid 2px #aaa;
//         padding: 10px;
//         width: 75%;
//         margin: auto 0;
//     }
// }