.article-container {
    position: relative;
    width: 75%;
    article {
        margin: 10px 0;
        background: rgba(200, 180, 50, .3);
        @extend %post-layout;
        @extend %title-style;

        .post-title, .post-meta {
            text-align: center;
        }
    }
    transition: all 300ms ease 0s;
}

.article-container,
.post-content {
    .post-meta {
        .fa {
            margin: 0 5px 0 8px;
            // color: rgba(50, 100, 50, .3);
            color: rgba(200, 100, 200, .8);
        }
        .date {
            color: rgba(0, 0, 0, .3);
            font-family: $font-handlee-family;
        }
    }
}
