@mixin readMore($width, $height, $scale, $color: rgba(200, 100, 100, .9)) {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    background-color: $color;
    transform: $scale;
    transition: transform 0.3s;
}
.article-container {
    position: relative;
    width: 75%;
    article {
        margin: 10px 0;
        background: rgba(200, 180, 50, .3);
        @extend %post-layout;
        @extend %title-style;
    }
    transition: all 300ms ease 0s;
    .post-preview {
        .post-excerpt {
            margin-bottom: 10px;
        }
        .post-read-more {
            display: inline-block;
            height: 30px;
            position: relative;
            &:before {
                @include readMore(3px, 100%, scaleY(0));
                transform-origin: bottom left;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
            &:after {
                @include readMore(3px, 100%, scaleY(0));
                transform-origin: top right;
                bottom: 0;
                right: 0;
            }
            a {
                font-family: $font-shrikhand-family;
                text-decoration: none;
                display: inline-block;
                height: 100%;
                padding: 0 12px;
                @include text-center(30px);
                box-shadow: inset 0 0 30px rgba(150, 180, 150, .8);
                border-radius: 8px;
                &:before {
                    @include readMore(100%, 3px, scaleX(0));
                    transform-origin: top left;
                    top: 0;
                    left: 0;
                }
                &:after {
                    @include readMore(100%, 3px, scaleX(0));
                    transform-origin: bottom right;
                    bottom: 0;
                    right: 0;

                }
                i.fa {
                    margin-left: 8px;
                    font-size: 1.5rem;
                    vertical-align: -2px;
                    font-weight: bold;
                    color: rgba(250, 210, 210, .7);
                    text-shadow: 0 0 1px rgba(50, 25, 0, 0.7),
                        0 -1px 1px rgba(255, 255, 0, 0.7),
                        1px 1px 1px rgba(0, 0, 0, 0.7);
                }
            }

            &:hover {
                &:before, 
                &:after {
                    transform: scaleY(1);
                }

                a {
                    &:before,
                    &:after {
                        transform: scaleX(1);
                    }
                    color: rgba(0, 0, 0, 0.8);
                    background: rgba(140, 200, 210, .5);
                    i.fa {
                        color: rgba(255, 248, 240, .7);
                        text-shadow: 0 0 3px rgba(50, 125, 170, 0.5),
                            0 -1px 1px rgba(235, 155, 0, 0.7),
                            1px 2px 1px rgba(50, 85, 10, 0.3);
                    }
                }
            }
        }
    }
}

.article-container,
.post-content {
    .post-title, .post-meta {
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    .post-title {
        font-size: 1.8rem;
        font-family: $font-shrikhand-family;
            color : rgba(140, 160, 120, .9);
        a {
            color : rgba(140, 160, 120, .9);
        }
    }
    .post-meta {
        .author {
            font-family: $font-pacifico-family;
            a {
                color: rgba(0, 0, 0, 0.7);
            }
        }
        .category {
            font-family: $font-shrikhand-family;
            a {
                color: rgba(0, 0, 0, 0.7);
            }
        }
        .fa {
            margin: 0 5px 0 8px;
            // color: rgba(50, 100, 50, .3);
            color: rgba(200, 100, 200, .8);
        }
        .date {
            color: rgba(0, 0, 0, .3);
            font-family: $font-handlee-family;
        }
    }
}
