.post-toc {
    max-width: 260px;
    overflow-y: auto;
    position: fixed;
    z-index: 3;
    top: 80px;
    right: 50px;
    // background: rgba(255, 25, 20, .3);
    background: rgba(245, 135, 10, 0.3);
    box-shadow: inset 0 0 15px rgba(255, 100, 80, .6);
    border-radius: 10px;
    max-height: calc(100% - 120px);
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background: none;
    }
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: none;
    }
    #toc-title {
        margin: 0;
        padding: 5px 10px;
        font-family: $font-shrikhand-family;
        font-size: 1rem;
        text-align: center;
        text-shadow: 0 0 1px #fea,
            1px 0 1px rgba(200, 100, 0, .8),
            0 1px 1px rgba(250, 40, 100, .8);
        cursor: pointer;
        i {
            margin-left: 10px;
            color: rgba(255, 255, 100, .8);
            text-shadow: 0 0 1px #000,
                1px 0 1px rgba(255, 255, 255, .5),
                0 1px 1px rgba(100, 0, 0, .3);
        }
    }
    ol {
        padding: 0 0 16px 10px;
        margin: 0;
        li {
            ol {
                padding-bottom: 0;
            }
            // padding: 0 10px;
            padding-right: 0;
            a {
                font-size: .75rem;
                display: inline-block;
                padding: 5px 8px 5px 3px;
                height: 100%;
                color: rgb(255, 100, 100);
                font-weight: bold;
                margin-right: 8px;
                text-shadow: 0 0 1px rgba(0, 0, 0, .8),
                    1px 0 1px rgba(0, 0, 0, .5),
                    0 1px 1px rgba(100, 0, 0, .5),
                    1px 1px 1px rgba(200, 100, 0, .5);
                &.active {
                    background:rgba(255, 255, 100, .5);
                    box-shadow: inset 0 0 8px rgba(25, 155, 15, 0.8);
                    border-radius: 5px;
                    color: rgba(255, 240, 240, .9);
                    transition: all 300ms ease;
                }
                &:hover {
                    color: #fff;
                    .toc-number {
                        color: #fff;
                    }
                }
                &:before {
                    background: #fff;
                }
                .toc-number {
                    font-family: $font-pacifico-family;
                    color: rgba(20, 20, 50, .8);
                    text-shadow: 0 0 1px #faa,
                        1px 0 1px rgba(0, 0, 0, .8),
                        0 1px 1px rgba(100, 0, 0, .8),
                        1px 1px 1px rgba(200, 100, 0, .8);
                }
            }
        }
    }
}

@include repond('sm', 'max') {
    .post-toc {
        display: none !important;
    }
}