mixin text(name, c)
    strong
        - for(var i=0, len=name.length; i<len; i++) {
            if c.length === 1
                font(color!= c[0])!= name.substr(i, 1)
            else
                font(color!= c[i])!= name.substr(i, 1)
        - }

footer
    .social
        if theme.social.github
            a(href!= theme.social.github, title='github')
                i.fa.fa-github
                +text('GitHub', ['#24292e'])
        if theme.social.twitter
            a(href!= theme.social.twitter, title='twitter')
                i.fa.fa-twitter
                +text('twitter', ['#1da1f2'])
        if theme.social.facebook
            a(href!= theme.social.facebook, title='facebook')
                i.fa.fa-facebook-square
                +text('Facebook', ['#3b5998'])
        if theme.social.stact_overflow
            a(href!= theme.social.stact_overflow, title='stact overflow')
                i.fa.fa-stack-overflow
                +text('stack overflow', ['#f69c55'])
        if theme.social.email
            a(href!= 'Mailto:'+theme.social.email title='email')
                i.fa.fa-envelope
                +text('Gmail', ['#4285f4','#ea4335', '#fbbc05', '#757575', '#34a853'])
        a(href!=url_for('/atom.xml')  title='RSS')
            i.fa.fa-rss-square
            +text('RSS', ['#ce6833', '#d6853e', '#d6a03e'])

    .copyright
        - var hexoUrl = 'https://hexo.io'
        - var lencxUrl = 'https://github.com/lencx/hexo-theme-lencx'
        - var currentDate = new Date()
        - var year = currentDate.getFullYear()
        - year = year == theme.since ? year : theme.since + '-' + year
        p
            span.copy &copy;
            != year
            | &nbsp;
            if config.author
                a.author(href= config.url)!= config.author
            | , Powered by 
            a.hexo(href= hexoUrl, target='_blank') Hexo 
            | &nbsp;and &nbsp;
            a.lencx(href= lencxUrl, target='_blank') hexo-theme-lencx.