header
    a.logo(href=url_for('/'), style='background: url('+theme.logo+') 100%/cover no-repeat')
    .search
        input(type='search', placeholder="Search")
    include ./_nav.pug
    include ../_widget/_menu.pug
    