<!DOCTYPE html>
html(lang="en")
    include ./_head.pug
    body
        include ./_header.pug
        .container
            block content
        span#back-to-top.fa.fa-angle-double-up
        include ./_footer.pug
        include ./_script.foot.pug