<!DOCTYPE html>
html(lang="en")
    include ./_head.pug
    body
        include ./_header.pug
        .container
            block content
        include ./_footer.pug
        include ./_script.foot.pug