if site.posts.length
    aside.sidebar
        include ../_widget/_post.tag.pug
        include ../_widget/_post.category.pug
        include ../_widget/_post.archive.pug
        include ../_widget/_post.recent.pug