html, body {
    overflow-x: hidden;
    // height: 100vh;
}

body {
    background: $bg;
    font-family: $font-base-family;
    font-size: $font-base-size;
    color: $font-base-color;
    * {
        box-sizing: border-box;
    }
    // animation-name: toBlack;
	// animation-duration: 3s;
	// animation-fill-mode: forwards;
}

ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    position: relative;
    @include repond('sm', 'min') {
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            background: #f00faa;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 200ms ease-in-out 0s;
        }
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

.container {
    // lost-utility: clearfix;
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: auto;
    min-height: 70vh;
    padding: 16px;
    margin: 80px auto 50px !important;
    @extend %clear-fix;

    @media screen and (max-width: 1200px) {
        .article-container {
            width: 100%;
        }
        .sidebar {
            display: none;
        }
    }
    @include repond('xs', 'max') {
        width: 100%;
        padding: 0;
    }
    // animation-name: toRed;
    // animation-duration: 5s;
    // animation-fill-mode: forwards;
}

.article-container,
.sidebar {
    float: left;
}

#back-to-top {
    position: fixed;
    @include square(40px);
    @include text-center(40px);
    right: 20px;
    bottom: 40px;
    font-size: 2.5em;
    font-weight: bold;
    // cursor: pointer;
    @include repond('sm', 'min') {  
        &:hover {
            color: #efefef;
            text-shadow: 0 0 1px rgb(255, 0, 110),
                0 -3px 1px rgb(255, 0, 110),
                0 5px 5px rgba(255, 0, 110, .8);
            transition: all 200ms;
        }
    }
}

footer {
    // background: rgba(0, 0, 0, .2);
    border-top: solid 2px rgba(0, 0, 0, .1);
    padding: 20px 0;
    text-align: center;
    color: #666;
    font-size: 1rem;
    font-family: $font-roboto-family;
    p {
        margin: 0;
        .copy {
            font-family: $font-roboto-family;
        }
        .author {
            font-family: $font-pacifico-family;
            color: #08e;
        }
        .hexo,
        .lencx {
            font-family: $font-shrikhand-family;
            color: rgba(0, 100, 200, .8);
        }
    }
}