::selection {
    background: rgba(255, 0, 0, .5);
    color: #fff;
}
::-moz-selection {
    background: rgba(255, 0, 0, .5);
    color: #fff;
}
code::selection {
    background: rgba(255, 0, 0, .5);
}
code::-moz-selection {
    background: rgba(255, 0, 0, .5);
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(240, 240 , 240, .5); 
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}