figure {
    position: relative;
    background: hsla(48, 98%, 47%, .3);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    overflow-x: auto;
    white-space: pre;
    padding-top: 28px;
    .gutter {
        padding: 3px 5px;
        background: rgba(0, 0, 0, .1);
        border-radius: 5px;
        user-select: none;
        padding: 0 auto;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
        .line {
            padding-right: 2px;
            width: 16px;
            height: 24px;
            @include text-center(24px);
            font-size: $line-font-size;
            color: $line-font-color;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
        }
        pre {
            margin: 0;
        }
    }
    .code {
        pre {
            padding: 0 5px;
            font-family: $code-font-family !important;
            font-size: 1rem;
            .line {
                height: 24px;
                line-height: 24px;
                color: $code-default-color;
                text-shadow: 0 0 1px rgba(240, 240, 240, .5);
            }
        }
    }
}
@include repond('md', 'max') {
    figure {
        margin: 0 !important;
    }
    .container {
        margin: 0 auto;
    }
}
figure:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 28px;
    padding: 0 30px 0 10px;
    font-family: $font-shrikhand-family;
    font-size: 0.75rem;
    color: rgba(0, 48, 73, .8);
    border-bottom-right-radius: 50px;
    text-indent: 15px;
    line-height: 28px;
    background: rgba(255, 25, 25, .5);
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

@each $codeColorName, $codeColorVal in $codeColors {
    figure {
        .#{$codeColorName} {
            color: $codeColorVal;
            @each $bold in $codeBold {
                @if $bold == $codeColorName {
                    font-weight: bold;
                }
            }
            @each $italic in $codeItalic {
                @if $italic == $codeColorName {
                    font-style: italic;
                }
            }
            @each $familyName, $familyVal in $codeFamily {
                @if $familyName == $codeColorName {
                    font-family: $familyVal;
                }
            }
        }
    }
}

@each $tagName, $tagVal in $codeTags {
    figure.#{$tagName}:before {
        content: '#{$tagVal}';
    }
}