%sidebar-box {
    margin-top: 30px;
    // border: solid 2px rgba(100, 0, 200, .3);
    box-shadow: inset 0 0 30px rgba(190, 50, 250, .3);
    border-radius: 20px;
    padding: 15px;
}

.sidebar {
    width: $sidebar-width;
    height: 100%;
    margin-left: $gutter;
    @extend %clear-fix;
    h2 {
        .fa {
            margin-right: 10px;
            font-size: 1.2rem;
            color: rgba(182, 190, 180, 0.3);
            text-shadow: 0 0 1px rgba(100, 100, 200, .3),
                2px -1px 2px rgba(230, 210, 100, .3),
                2px -1px 2px rgba(103, 100, 145, .3),
                -1px -1px 2px rgba(46, 102, 139, .5);
        }
        color: #35a;
        margin: 0 0 15px;
        font-family: $font-shrikhand-family;
    }
}

.sidebar .tag-cloud {
    font-family: $font-roboto-family;
}

.sidebar .category {
    @extend %sidebar-box;
    .category-sidebar {
        padding-left: 0;
        margin: 0;
        li {
            height: 28px;
            a {
                font-weight: bold;
                display: inline-block;
                height: 100%;
                line-height: 28px;
                &:before {
                    display: none;
                }
                @include tablet {
                    text-decoration: underline;
                    &:hover {
                        color: #38a;
                    }
                }
            }
            .num {
                margin-left: 8px;
                font-size: 14px;
                font-family: $font-handlee-family;
                color: #999;
            }
        }
    }
}