$font-base-size: 1em;
$font-base-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
// $font-base-color: #404040;
$font-base-color: #434;
$bg: #f5f5d5;

$font-handlee-family: 'Handlee';
$font-open-sans-family: 'Open Sans';
$font-pacifico-family: 'Pacifico';
$font-roboto-family: 'Roboto';
$font-shrikhand-family: 'Shrikhand';