$font-base-size: 1em;
$font-base-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
// $font-base-color: #404040;
$font-base-color: #434;
$bg: #f5f5d5;

///== layout
$gutter: 30px;
$sidebar-width: 250px;
// 280px = $gutter + $sidebar-width
$article-container-width: calc(100% - 280px);

///== font family
$font-handlee-family: 'Handlee';
$font-open-sans-family: 'Open Sans';
$font-pacifico-family: 'Pacifico';
$font-roboto-family: 'Roboto';
$font-shrikhand-family: 'Shrikhand';
$font-marck-script: 'Marck Script';
