// post font
$post-font-color: #333;
$post-font-family: 'Roboto';
$post-font-size: 14px;

// post border
$post-border-width: 2px;
$post-border-color: rgba(0, 0, 0, .1);
$post-border-radius: 16px;

// post content
$post-padding: 16px;

%post-layout {
    box-sizing: border-box;
    color: $post-font-color;
    font-family: $post-font-family;
    font-size: $post-font-size;
    // border: solid $post-border-width $post-border-color;
    border-radius: $post-border-radius;
    padding: $post-padding;
    box-shadow: inset 0 0 25px rgba(255, 150, 50, .3)
}

%title-style {
    @for $i from 1 through 6 {
        h#{$i} {
            color: hsl(50*$i, 80%, 60%);
            // text-shadow: 0 0 #{6-$i*2}px currentColor;
        }
    }
}