// post font
$post-font-color: #333;
$post-font-family: 'Roboto';
$post-font-size: 1rem;
$post-line-height: 1.33rem;

// post border
$post-border-width: 2px;
$post-border-color: rgba(0, 0, 0, .1);
$post-border-radius: 16px;

// post content
$post-padding: 16px;

// s: font-size
// l: line-height
$title-font: (
    h1: (s:2rem, l:2.2rem, t: '\f06c'),
    h2: (s:1.5rem, l:1.75rem, t: '\f06c'),
    h3: (s:1.33rem, l:1.5rem, t: '§'),
    h4: (s:1rem, l:1.33rem, t: '➤'),
    h5: (s:.87rem, l:1.17rem, t: '❦'),
    h6: (s:.75rem, l:1rem, t: '❡')
);

@each $key, $val in $title-font {
    #{$key} {
        font-size: map-deep-get($title-font, $key, s);
        line-height: map-deep-get($title-font, $key, l);
    }
    .post-preview .post-excerpt,
    .post-content div.post-content {
        #{$key}:before  {
            content: map-deep-get($title-font, $key, t);
        }
    }
}

%post-layout {
    box-sizing: border-box;
    color: $post-font-color;
    font-family: $post-font-family;
    font-size: $post-font-size;
    line-height: $post-line-height;
    @include radius($post-border-radius);
    padding: $post-padding;
    box-shadow: inset 0 0 25px rgba(255, 150, 50, .3);
}

%title-style {
    .post-title {
        text-shadow: 0 0 1px rgba(0, 0, 0, .4),
            1px -1px 1px rgba(0, 50, 50, .3),
            -1px 1px 2px rgba(180, 120, 30, .8);
    }
    .post-excerpt,
    .post-content {
        h1 {
            color: #24292e;
        }
        h2 {
            color: #083d77;
        }
        h1, h2 {
            // border-left: solid 10px hsla(40,50%,34%,.8);
            // padding-left: 12px;
            text-shadow: 0 0 1px rgba(0, 0, 0, .4),
                1px -1px 1px rgba(0, 50, 50, .3),
                -1px 1px 2px rgba(180, 120, 30, .8);
            &:before {
                // content: '\f06c';
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                color: rgba(235, 235, 235, 0.8);
                transform: rotate(-30deg);
                margin-right: 10px;
            }
        }
        h3,h4,h5,h6 {
            font-size: 1.2rem;
            color: #044;
            margin: 12px 0;
            &:before {
                font-family: $font-shrikhand-family;
                // font-family: $font-roboto-family;
                // font-family: $font-pacifico-family;
                display: inline-block;
                font-weight: bold;
                color: rgba(240, 240, 200, 0.8);
                margin-right: 10px;
                text-shadow: 0 0 1px rgba(0, 0, 0, .4),
                    1px -1px 1px rgba(0, 50, 50, .3),
                    -1px 1px 2px rgba(180, 120, 30, .8);
                
            }
        }
    }
    // @for $i from 1 through 6 {
    //     h#{$i} {
    //         color: hsl(42*$i, 75%, 45%);
    //         @if($i < 4) {
    //             font-family: $font-shrikhand-family;
    //             text-shadow: 0 0 1px rgba(0, 0, 0, .4),
    //                 1px -1px 1px rgba(0, 50, 50, .3),
    //                 -1px 1px 2px rgba(180, 120, 30, .8);
    //         } @else {
    //             text-shadow: 1px 0 1px rgba(0, 0, 0, .4);
    //         }
    //     }
    // }
}

%post-date {
    margin-right: 10px;
    font-family: $font-handlee-family;
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    text-shadow: 0 0 1px rgba(112, 32, 102, 0.3);
}

%post-title-link {
    display: inline-block;
    padding: 3px 5px;
    color: rgba(0, 100, 240, .9);
    font-weight: bold;
    text-shadow: 1px 0 1px rgba(50, 160, 180, .6),
        1px 1px 1px rgba(150, 100, 240, .3);
}

@mixin child-list-def($color, $type) {
    font-size: 1rem;
    border-left: solid 3px $color;
    list-style-type: $type;
}

article, .page {
    line-height: $post-line-height;
    .post-title {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    code {
        background: #fac;
        padding: 1px 5px;
        @include radius(5px, true);
        color: rgba(90, 60, 50, .8);
    }
    em {
        font-family: $font-handlee-family;
    }
    del {
        color: rgba(240, 30, 30, .8);
    }
    strong {
        color: rgba(220, 20, 30, .8);
    }
    hr {
        border: dotted 3px rgba(220, 60, 30, .5);
        box-shadow: 0 0 10px rgba(200, 130, 30, .7);
    }
    blockquote {
        color: #985;
        margin: 5px 0;
        padding: 5px;
        border-left: solid 3px rgba(230, 35, 245, .6);
        box-shadow: inset -1px 0px 5px rgba(0, 0, 0, .3);
        @include border-right-radius(10px);
        p {
            margin: 0;
        }
        blockquote {
            margin: 0;
            border-color: rgba(30, 100, 200, .5);
            // box-shadow: none;
        }
    }
    ol, ul {
        font-size: 1.17rem;
        line-height: 1.8rem;
        padding-left: 25px;
        ul {
            @include child-list-def(rgba(160, 120, 60, 0.6), circle);
        }
        ol {
            @include child-list-def(rgba(130, 210, 100, .7), lower-alpha);
        }
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
        // list-style-type: decimal-leading-zero;
    }
    @include repond('sm', 'max') {
        ul, ol {
            padding-left: 20px;
            ul, ol {
                border-width: 1px;
            }
        }
        blockquote {
            border-width: 1px;
        }
    }
    table {
        width: 100%;
        margin-top: 8px;
        border-collapse: collapse;
        th, td {
            padding: 5px;
            text-align: center;
            @include radius(3px, true);
            box-shadow: inset 0 0 5px rgba(0, 50, 50, .4);
        }
        tr:nth-child(2n) {
            background-color: #f1f1c1 !important;
        }
        tr:nth-child(2n+1) {
            background-color: #f2f2aa;
        }
        thead {
            tr {
                background-color: #cdc !important;
            }
        }
    }
    a {
        text-decoration: underline;
        color: #c82;
        outline: none;
    }
    img {
        display: block;
        max-width: 100%;
        @include radius(10px, true);
        height: auto;
        margin: 5px 0;
        border: solid 3px rgba(140, 140, 140, .3);
    }
}